<!DOCTYPE html>
<html>
  <head>
    <title>Hyperloop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render(Common::Modal::ModalComponent.new) %>

    <main>
      <%= yield %>
    </main>

    <%= turbo_frame_tag :flashes do %>
      <%= render "shared/flashes" %>
    <% end %>
  </body>
</html>
